.task-form-container {
    width: 30em;
    height: 37em;
    display: flex;
    flex-direction: column;
}

.task-top-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #424244;
    padding-left: 16px;
}

.task-input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 82%;
}

.task-form-label {
    padding-bottom: 10px;
}

.task-input-label {
    padding-bottom: 10px;
}

.task-form-input {
    background-color: var(--bkg-color-black);
    color: var(--text-color);
    overflow: auto;
    flex-grow: 1;
    height: 100%;
    border: #a2a0a2 1px solid;
}

.task-form-textarea {
    background-color: var(--bkg-color-black);
    color: var(--text-color);
    overflow: auto;
    flex-grow: 1;
    height: 100%;
    border: #a2a0a2 1px solid;
}

.move-button-down {
    padding-top: 2.5em;
}

.task-form-button {
    background-color: #4573d2;
    color: whitesmoke;
    border-radius: 7px;
    border: none;
    padding: 7px;
    cursor: pointer;
    border: #424244 1px solid;
    height: 2.5em;
    border-radius: 6px;
    margin-left: 5px;
    width: 83%;
    margin-bottom: 8px;
}
