.table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    /* padding: 10px; */
}

.table-onclick {
    width: 50vw;
    border-collapse: collapse;
    border-style: hidden;
    /* padding: 10px; */
}

.table-row,
.table-head,
.table-cell {
    border: solid 0.3px gray;
    overflow: hidden;
}

.table-head {
    padding-left: 15px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
}

.table-cell {
    height: 40px;
    font-size: 16px;
    font-weight: 300;
}

.table-cell#task-name {
    display: flex;
    align-items: center;
}

.table-cell-text {
    display: flex;
    align-items: center;
}

#task-name {
    display: flex;
    border: none;
    justify-content: space-between;
}

#task-name:hover>#button {
    display: block;
}

.table-cell:hover {
    background-color: rgba(128, 128, 128, 0.169);
}

/* td:first-child,
th:first-child {
    border-right: 0;
} */

.table-head {
    font-size: smaller;
    color: gray;
}

#first-child {
    border-left: none;
}

#button {
    display: none;
    cursor: pointer;
}

.table-outer-container {
    width: 100%;
}