.task-modal {
    width: 400px;
    height: 400px;
}

.task-modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.task-complete {
    border: 1px solid grey;
    border-radius: 4px;
    font-size: x-small;
    width: fit-content;
    margin: 3px;
}

.fa-check-circle-o {
    margin-right: 5px;
}

#task-complete {
    padding: 3px;
}

hr {
    margin: 10px -40px;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

tr {
    text-align: left;
}

td {
    padding: 0 15px;
}

.task-name {
    font-size: xx-large;
}

.task-detail {
    font-size: small;
    color: rgb(146, 145, 145);
    padding-right: 5%;
    margin-right: 20%;
}
