#slider {
    display: flex;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 1;
    transition: 0.5s;
    animation: slidein 1s;
}

#slider-out {
    width: 0;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    color: aliceblue;
    text-decoration: none;
}

.task-complete {
    border: 1px solid grey;
    border-radius: 4px;
    font-size: x-small;
    width: fit-content;
    margin: 10px;
    margin-top: 30px;
}

.fa-check-circle-o {
    margin-right: 5px;
}

#task-complete {
    padding: 3px;
}

hr {
    margin: 10px -40px;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
    margin: 10px;
}

tr {
    text-align: left;
}

td {
    padding: 0 15px;
}

.task-name {
    font-size: xx-large;
    margin: 10px;
}

.task-detail {
    font-size: small;
    color: rgb(146, 145, 145);
    padding-right: 5%;
    margin-right: 20%;
}
