.form-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 8px;
}

#task-form {
    display: flex;
    padding: 30px;
}

.form-row {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.form-row>.form-label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row>.form-input {
    justify-content: flex-start;
    flex: 2;
}

input#form-input {
    background-color: #1e1f21;
    border: 1px solid #424244;
    color: #f5f4f3;
}

.form-input:focus {
    border: solid 1px blue;
}

.form-button {
    margin-top: 50px;
}
