:root {
    --bkg-color-grey: #363639;
    --bkg-color-black: #1e1f21;
    --text-color: #f5f4f3;
    --text-color-unfocused: #6a696a;
    --border-color: #424244;
    --border-color-hover: #6a696a;
    --border-color-active: #a2a0a2;
    --icon-nav-color: #a2a0a2;
    --status-color-ontrack-complete: #5EA283;
    --status-color-at-risk: #F1BD6C;
    --status-color-off-track: #D1395A;
    --status-color-on-hold: #4473D2;

    --topbar-height: 48px;
    --navbar-width: 240px;
    --dropdown-left-padding: 24px;
}

body {
    margin: 0px;
    overflow: hidden;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



#navbar-and-content {
    display: flex;
    min-height: calc(100vh - var(--topbar-height));
}

#navbar,
#content {
    display: flex;
    flex-direction: column;
}

#content {
    background-color: var(--bkg-color-black);
    overflow: auto;
    flex-grow: 1;
    height: 100%;
    color: var(--text-color)
}

#navbar {
    min-width: var(--navbar-width);
    width: var(--navbar-width);
    max-width: var(--navbar-width);
    height: 100%;
    position: relative;
    background-color: #2e2e30;
}

div.horizontal-separator {
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    content: "";
}

.errorContainer {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorText {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: 14px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
