#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: var(--bkg-color-black);
  color: var(--text-color);
  box-sizing: border-box;
  border-radius: 10px;

  /* padding: 8px 32px; */
}

#modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#modal-content form input,
#modal-content textarea {
  border-radius: 4px;
  background-color: var(--bkg-color-black);
  border: 1px solid var(--border-color);
  font-size: 14px;
  padding: 0.5em 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color)
}

#modal-content form input:focus,
textarea:focus {
  outline: 2px solid var(--status-color-on-hold);
  border: 1px solid var(--border-color-active)
}

#modal-content form>div:not(.horizontal-separator) {
  display: flex;

  /* justify-content: space-between;
  height: 40px; */
}

.user-settings-field label {
  margin-bottom: 10px;
}

.user-settings-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

#modal-content .user-settings-field input,
#modal-content .user-settings-field textarea {
  width: 100%;
  box-sizing: border-box;
}

#save-user-changes {
  height: 36px;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--status-color-on-hold);
  width: 80%;
  border: none;
  cursor: pointer;
}
